/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#map {
    height: 600px;
    width: 100%;
}

#div-active-user {
    text-align: center;
    padding-top: 25px;
    background-color: #EEE9E9;
}

#div-active-video {
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
    background-color: #EEE9E9;
}

#div-video-view {
    text-align: center;
    margin-top: 25px;
    padding-right: 25px;
    background-color: #EEE9E9;
}

#div-user-view {
    text-align: center;
    margin-top: 25px;
    padding-right: 25px;
    background-color: #EEE9E9;
}

#div-trending-1 {
    text-align: center;
    margin-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #EEE9E9;
}

#div-trending-2 {
    text-align: center;
    margin-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #EEE9E9;
}

/* Make column height equal */
.row{
    overflow: hidden; 
    padding: 10px;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}